.title-text {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}

.sessions-table {
    border-color: #b5b5b5;
}

.session-data {
    cursor: pointer;
}

.games-data.hide {
    display: none;
}

.input-group.date {
    width: 30%;
}

.date-input {
    border-radius: 5px !important;
}

.table-wrapper {
    overflow-y: auto;
    max-height: 50vh;
}