.board {
    margin: 0 auto;
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.board-square {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 0;
}

.board-square-img {
    width: 100%;
    height: 100%;
}

.tickets-text {
    font-size: 1.5rem;
    width: 300px;
    text-align: start;
    padding: 0;
}

.tickets {
    font-weight: bold;
}

.add-btn {
    width: 150px;
}

.start-btn,
.turn-text {
    width: 450px;
    font-size: 1.5rem;
}
.turn-text {
    font-weight: bold;
    display: none;
    height: 38px;
}

.error-msg {
    color: red;
    opacity: 0;
    height: 26px;
    transition: opacity 0.3s ease-in-out;
    margin-bottom: 5px;
}

.error-msg.show {
    opacity: 1;
}