.btn-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    margin-top: 15%;
}

.btn-container .btn {
    position: relative;
    flex: 1 1 auto;
    width: 30%;
    margin: 0.7rem;
    font-size: 1.5rem;
}