{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('home_bp.static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('game_bp.static', filename='css/board.css') }}">

{% endblock %}

{% block content %}
<div class="container btn-container py-5 mt-5">
  <a href="{{ url_for('game_bp.game_session') }}" class="btn btn-light">Play</a>
  <a class="btn btn-light">Profile</a>
  <a href="{{ url_for('auth_bp.logout') }}" class="btn btn-light">Logout</a>
</div>
{% endblock %}