{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('home_bp.static', filename='css/home.css') }}">

{% endblock %}

{% block content %}
<div class="container btn-container">
  <a href="{{ url_for('game_bp.game_session') }}" class="btn btn-dark">Singleplayer</a>
  <a href="{{ url_for('game_bp.game_session') }}" class="btn btn-dark">Multiplayer</a>
  <a href="{{ url_for('profile_bp.profile') }}" class="btn btn-dark">Profile</a>
  <a href="{{ url_for('auth_bp.logout') }}" class="btn btn-dark">Logout</a>
</div>
{% endblock %}