{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" integrity="sha512-34s5cpvaNG3BknEWSuOncX28vz97bRI59UnVtEEpFX536A7BtZSJHsDyFoCl8S7Dt2TPzcrCEoHBGeM4SUBDBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('profile_bp.static', filename='css/profile.css') }}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js" integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ url_for('profile_bp.static', filename='js/profile.js') }}"></script>

{% endblock %}

{% block content %}

<div class="container jusify-content-center">
  <p class="title-text pt-5">Games history</p>
  <div class="input-group date mb-2" id="datepicker">
    <input type="text" class="form-control date-input" placeholder="Select date" id="dateInput" value="{{date}}">
    <div class="input-group-append"></div>
  </div>

  <table class="table table-striped table-bordered sessions-table">
      <thead>
        <tr>
          <th scope="col">Session ID</th>
          <th scope="col">Games</th>
          <th scope="col">Wins</th>
          <th scope="col">Losses</th>
          <th scope="col">Draws</th>
        </tr>
      </thead>
      <tbody id="tableBody">

      </tbody>
    </table>
</div>

{% endblock %}