{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('auth_bp.static', filename='css/auth.css') }}">

{% endblock %}

{% block content %}
<div class="signup-wrapper">
    <h3 class="title pb-3">Sign Up</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username" aria-describedby="username" autocomplete="off">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>

            <div class="mb-3">
                <label for="passwordRepeat" class="form-label">Repeat password</label>
                <input type="password" name="passwordRepeat" class="form-control" id="passwordRepeat">
            </div>

            <button type="submit" class="btn btn-primary signup-btn">Sign Up</button>
        </form>

        <span class="signup-text">Already a user? </span>
        <a href="{{ url_for('auth_bp.login') }}" class="signup-anchor">Login</p>
    </div>
</div>
{% endblock %}