{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('game_bp.static', filename='css/game.css') }}">
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script src="{{ url_for('game_bp.static', filename='js/game.js') }}"></script>
{% if game_type == 'singleplayer' %}
<script src="{{ url_for('game_bp.static', filename='js/singleplayer.js') }}"></script>
{% else %}
<script src="{{ url_for('game_bp.static', filename='js/multiplayer.js') }}"></script>
{% endif %}

{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center text-center pb-2">
        <span id="errorSpan" class="error-msg"></span>
        <button id="startGame" class="btn btn-dark start-btn">Start game</button>
        <span id="turnText" class="turn-text"></span>
    </div>
    <div class="board">
        <div class="row justify-content-center">
            <div id="0" class="board-square"></div>
            <div id="1" class="board-square"></div>
            <div id="2" class="board-square"></div>
        </div>
        <div class="row justify-content-center">
            <div id="3" class="board-square"></div>
            <div id="4" class="board-square"></div>
            <div id="5" class="board-square"></div>
        </div>
        <div class="row justify-content-center">
            <div id="6" class="board-square"></div>
            <div id="7" class="board-square"></div>
            <div id="8" class="board-square"></div>
        </div>
        <p id="gameResult" class="game-result text-center"></p>
    </div>
    
    <div class="tickets-container text-center pt-2">
        <div class="row justify-content-center">
            <span class="tickets-text">Tickets: <span id="ticketCount" class="tickets">0</span></span>
            <button id="addTickets" class="btn btn-light add-btn">Add tickets</button>
        </div>
        <div class="pt-5">
            <button id="exitSession" class="btn btn-dark">Exit session</button>
        </div>
    </div>
</div>

{% endblock %}